<div style="width:500px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
    <iframe id='kofiframe' src='https://ko-fi.com/bigbang1112/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;border-radius: 1rem' height='712' title='bigbang1112'></iframe>
</div>

@code {

}
