<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["GbxTools3D.styles.css"]" />
    <link rel="stylesheet" href="@Assets["fa/css/all.min.css"]" />

    @{
        var importMapDefinition = new ImportMapDefinition(
            new Dictionary<string, string>
            {
                ["three"] = "https://cdn.jsdelivr.net/npm/three@0.175.0/build/three.module.min.js",
                ["three/addons/"] = "https://cdn.jsdelivr.net/npm/three@0.175.0/examples/jsm/",
                ["three/src/extras/Earcut.js"] = "https://cdn.jsdelivr.net/npm/three@0.175.0/src/extras/Earcut.js",
                //["@three.ez/instanced-mesh"] = "https://cdn.jsdelivr.net/npm/@three.ez/instanced-mesh/build/index.js",
                //["bvh.js"] = "https://cdn.jsdelivr.net/npm/bvh.js/build/index.js"
            }, null, null);
    }

    <ImportMap ImportMapDefinition="importMapDefinition" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&family=Rubik+Glitch&display=swap" rel="stylesheet">

    <meta property="og:title" content="3D Gbx Tools">
    <meta property="og:description" content="Analyze maps, replays, and 3D objects from Nadeo games.">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/img/embed.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="3D Gbx Tools">
    <meta name="twitter:image" content="https://3d.gbx.tools/img/embed.jpg"> <!-- may need full url instead -->

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="3D Gbx" />
    <link rel="manifest" href="/site.webmanifest" />

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://mrdoob.github.io/stats.js/build/stats.min.js"></script>
    <script src="js/indexscroll.js"></script>
</body>

</html>
