<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["GbxTools3D.styles.css"]" />

    @{
        var importMapDefinition = new ImportMapDefinition(
            new Dictionary<string, string>
            {
                ["three"] = "https://cdn.jsdelivr.net/npm/three@0.172.0/build/three.module.min.js",
                ["three/addons/"] = "https://cdn.jsdelivr.net/npm/three@0.172.0/examples/jsm/"
            }, null, null);
    }

    <ImportMap ImportMapDefinition="importMapDefinition" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://mrdoob.github.io/stats.js/build/stats.min.js"></script>
</body>

</html>
