@page "/about"

<PageTitle>About - 3D Gbx Tools</PageTitle>

<div class="container">
    <h3>About</h3>
    <p>What was your first thought when you were playing on a server in TMUF or TM2 and wanted to see someone's replay? Disconnecting, downloading the replay, moving it to the appropriate folder, then refreshing for 2 minutes?</p>
    <p>What was your first thought when you wanted to see the run on phone, but the footage of the record doesn't exist?</p>
    <p>What was your first thought when the map thumbnail was bad and you wanted a quick look on the map before you download it?</p>
    <p>These 3 are the main reasons why this project started - back in 2023 in fact! Do you know what I'm talking about? Replay Viewer and Map Viewer Engine from Gbx Web Tools. Yeah, it wasn't ever quite used, because of the lack of use? No, it was just unfinished and not contributed to. But I still believed, so this is the next generation of the project.</p>
    <h4>Multienvironmentalism</h4>
    <p>Caring about more than just the Stadium environment is the definition of the project. The 3D render is supported across all Trackmania games, but also Shootmania and Virtual Skipper is taken in count.</p>
    <h4>Gbx data is the answer!</h4>
</div>

@code {

}
