@page "/blender"

<PageTitle>Blender Gbx Tools - 3D Gbx Tools</PageTitle>

<div class="container">
    <h2>Blender Gbx Tools</h2>
    <p>Blender Gbx Tools is a plugin made for any form of 3D works with la GameBox (Trackmania/Shootmania engine).</p>
    <p>It supports importing various Gbx files:
        <ul>
            <li>Solid.Gbx</li>
            <li>Mesh.Gbx</li>
            <li>Prefab.Gbx</li>
            <li>Shape.Gbx</li>
            <li>Item.Gbx (specific variants atm)</li>
            <li>Block info (EDClassic.Gbx, ...), which will resolve the mesh for each variant</li>
        </ul>
    </p>
    <p>It also allows displaying collision models and complex materials.</p>
    <p>It does <b>not</b> support importing directly from Pak files <i>yet</i>. <b>You have to extract your Pak files first</b> to be able to link materials with textures. You can use <a href="https://io.gbx.tools/pak-to-zip">Gbx I/O</a> for TMUF and OpenPlanet for TM2 and TM2020, but I'll make sure it's out of the box as soon as possible.</p>
    <p>To install this plugin, using the extension repository is recommended:
        <ol>
            <li>Open Blender</li>
            <li>Go to Edit &gt; Preferences &gt; <b>Get Extensions</b></li>
            <li>Click on "Repositories" at the top right, click the + (plus) icon, click "Add Remote Repository"...</li>
            <li>In URL, enter this: <code>https://blender.gbx.tools/index.json</code></li>
            <li>Click "Create". In search bar, you should be able to type "Blender Gbx Tools" and find it there, install it...</li>
        </ol>
    </p>
    <p>Alternatively, you can download from <a href="https://github.com/BigBang1112/blender-gbx-tools/releases">GitHub Releases</a>.</p>
    <p>Blender Gbx Tools is available open-source on <a href="https://github.com/BigBang1112/blender-gbx-tools">GitHub</a>.</p>
</div>

@code {

}
