@page "/"

<PageTitle>3D Gbx Tools</PageTitle>

<section>
    <div class="container">
        <h1 class="brand-3d">3D</h1>
        <h2 class="brand-gbx-tools">gbx.tools</h2>
        <p class="home-text">Analyze maps, replays, and 3D objects from Nadeo games.</p>
        <div class="primary-buttons">
        <a href="view" class="button-blue">View a .Gbx file</a>
        <a href="catalog" class="button-catalog">Open the catalog</a>
        </div>
    </div>
</section>