.brand-3d {
    font-size: 12rem;
    margin: 30px 0 0 0;
    z-index: 1;
}

.brand-gbx-tools {
    font-size: 6rem;
    margin: 0 0 50px 0;
    z-index: 1;
}

.home-text {
    z-index: 1;
}

section.scene {
    position: relative;
}

    section.scene .container {
        display: flex;
        flex-direction: column;
    }

video {
    position: absolute;
    right: 0;
    height: 100%;
}

@media (max-width: 600px) {
    .brand-3d {
        font-size: 8rem;
    }

    .brand-gbx-tools {
        font-size: 4rem;
    }
}

@media (max-width: 380px) {
    .brand-gbx-tools {
        font-size: 3rem;
    }
}

.primary-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
}

@media (max-width: 850px) {
    .primary-buttons {
        align-items: center;
    }
}

.button-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #1E72CC;
    border-bottom: 2px solid #FFF8;
    border-radius: 4px;
    height: 3.5rem;
    width: 20rem;
    text-decoration: none;
    margin-top: 50px;
    font-size: 140%;
    font-weight: bold;
    transition: background-color 0.1s ease;
    backdrop-filter: blur(10px);
}

    .button-blue:hover {
        background-color: #258cfb;
    }

.button-catalog {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #111A;
    border-bottom: 2px solid #FFF3;
    border-radius: 4px;
    height: 2.5rem;
    width: 20rem;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 60px;
    transition: background-color 0.05s ease;
    backdrop-filter: blur(10px);
}

    .button-catalog:hover {
        background-color: #2228;
    }

.showcase-button {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    background-color: #3333;
    border-bottom: 2px solid #FFF3;
    border-radius: 4px;
    cursor: pointer;
    gap: 25px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    height: 100px;
}

    .showcase-button:hover {
        background-color: #3338;
    }

    .showcase-button .info {
        flex: 1;
    }

        .showcase-button .info .name {
            font-size: 120%;
            font-weight: bold;
        }

    .showcase-button .game {
        font-size: 200%;
        font-weight: bold;
        padding: 20px;
    }

.wrs {
    display: flex;
    gap: 15px;
}

    .wrs div.wrs-category {
        flex: 1;
    }

@media (max-width: 1400px) {
    .wrs {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .button-blue {
        width: 100%;
    }

    .button-catalog {
        width: 100%;
    }
}