@using TmEssentials
<div class="module">
    @if (Time.HasValue)
    {
        <div class="lap mono">
            @Lap
        </div>
        <div class="time mono">@Time.ToTmString(UseHundredths)</div>
        <div class="diff mono">
            @Diff
        </div>
    }
</div>
