.controls {
    padding: 10px;
    top: 855px;
    width: 300px;
    height: 65px;
}

    .controls.closed {
        transform: translateX(-300px);
    }

.contents {
    display: flex;
    gap: 5px;
}

    .contents div {
        flex: 1;
    }

.camera {
    position: relative;
}

    .camera img {
        margin: -2px 0 -2px -4px;
    }

    .camera span {
        position: absolute;
        right: 6px;
        bottom: 2px;
        font-weight: bold;
        font-size: 80%;
    }