<div class="panel left controls @(show ? "" : "closed")">
    <div class="opener" @onclick="() => show = !show">
        @if (show)
        {
            <img src="icons/ui/keyboard_arrow_left.svg" width="32" height="32" />
        }
        else
        {
            <img src="icons/ui/keyboard_arrow_right.svg" width="32" height="32" />
        }
    </div>
    <div class="contents">
        <div class="button-generic">A</div>
        <div class="button-generic">B</div>
        <div class="button-generic">C</div>
        <div class="button-generic">D</div>
    </div>
</div>
