@inject IJSRuntime JS
@inject GbxService GbxService

@if (RendererInfo.IsInteractive)
{
    <Checkpoint UseHundredths="UseHundredths" @ref="checkpoint"></Checkpoint>
    <div class="panels left">
        <Playback OnPlay="Play" OnPause="Pause" OnRewind="Rewind" OnSpeedChange="SetSpeed" Description="@GetPlaybackDescription()" UseHundredths="UseHundredths" @ref="playback"></Playback>
        <InputList Ghost="CurrentGhost" OverrideInputs="overrideInputs" OnInputClick="OnInputListItemClick" @ref="inputList"></InputList>
        <CheckpointList Ghost="CurrentGhost" NumLaps="CurrentGhost?.GetNumberOfLaps(Map) ?? 1" OnCheckpointClick="OnCheckpointListItemClick" UseHundredths="UseHundredths" @ref="checkpointList"></CheckpointList>
        <RenderInfo RenderDetails="RenderDetails" @ref="renderInfo"></RenderInfo>
        <Controls OnCameraTypeChanged="ChangeCameraType" OnCollisionsToggled="ToggleCollisions"></Controls>
    </div>
    <div class="panels right">
        <MapInfo Map="Map" MapUploaded="OnMapUploadedAsync" Uploadable="MapUploadable"></MapInfo>
        <GhostInfo Ghost="CurrentGhost" UseHundredths="UseHundredths" @ref="ghostInfo"></GhostInfo>
        <Speedometer @ref="speedometer"></Speedometer>
    </div>
}