.catalog {
    position: fixed;
    padding: 20px;
    top: 120px;
    bottom: 100px;
    width: 500px;
    transform-origin: top left;
}

    .catalog .opener {
        padding: 0.8rem;
    }

    .catalog.closed {
        transform: translateX(-100%);
    }

@media (max-width: 650px) {
    .panel {
        transform: scale(0.7);
    }
}

@media (max-width: 450px) {
    .panel {
        transform: scale(0.55);
    }
}