.minimenu {
    display: flex;
    gap: 5px;
}

    .minimenu div {
        flex: 1;
    }

.current-solid-name {
    text-align: center;
    opacity: 0.5;
}

.fill {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
}

.title {
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
}

.tree {
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: auto;
    font-size: 90%;
    margin: 0;
    padding: 0;
    height: 200px;
}

.solid-tools {
    display: flex;
    gap: 5px;
}

    .solid-tools div {
        flex: 1;
    }

.no-material {
    text-align: center;
}

.catalog {
    position: fixed;
    padding: 20px;
    top: 120px;
    bottom: 100px;
    width: 500px;
    min-height: 600px;
    transform-origin: top left;
}

    .catalog .opener {
        padding: 0.8rem;
    }

    .catalog.closed {
        transform: translateX(-100%);
    }

    .catalog .games {
        display: flex;
        flex-flow: wrap;
    }

        .catalog .games ::deep a {
            display: flex;
            justify-content: center;
            padding: 10px;
            padding: 10px;
            flex: 1;
            border-radius: 5px;
        }

            .catalog .games ::deep a:hover {
                background-color: #333;
            }

            .catalog .games ::deep a.active {
                background-color: #444;
            }

            .catalog .games ::deep a img {
                border-radius: 3px;
            }

    .catalog .collections {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #1A1A1AAA;
        border: 1px solid #333;
        border-radius: 5px;
        padding: 5px;
    }

        .catalog .collections ::deep a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            padding: 10px;
            border-radius: 5px;
            text-decoration: none;
            color: white;
        }

            .catalog .collections ::deep a:hover {
                background-color: #333;
            }

            .catalog .collections ::deep a.active {
                background-color: #444;
            }

    .catalog .asset-types {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

        .catalog .asset-types ::deep a {
            flex: 1;
        }

    .catalog .assets {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: #1A1A1AAA;
        border: 1px solid #333;
        border-radius: 5px;
        overflow: hidden auto;
        font-size: 90%;
    }

        .catalog .assets ::deep a {
            display: flex;
            padding: 4px 6px;
            gap: 6px;
            align-items: center;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            animation: fadeIn 0.3s;
        }

            .catalog .assets ::deep a:hover {
                background-color: #333;
            }

            .catalog .assets ::deep a.active {
                background-color: #444;
            }

            .catalog .assets ::deep a img {
                border-radius: 3px;
            }


.properties {
    position: fixed;
    padding: 20px;
    top: 120px;
    bottom: 100px;
    width: 500px;
    min-height: 600px;
    transform-origin: top right;
}

    .properties .opener {
        padding: 0.8rem;
    }

    .properties.closed {
        transform: translateX(100%);
    }

    .properties .asset-name {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
    }

    .properties .table {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 10px;
    }

        .properties .table .label {
            padding: 5px;
        }

        .properties .table ::deep input.text {
            font-size: 80%;
        }

    .properties .tree-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px
    }

        .properties .tree-info .tree-name {
            font-size: 110%;
            margin-top: 10px;
            text-align: center;
        }

        .properties .tree-info .textures {
            display: flex;
            text-align: center;
            overflow-x: auto;
            background-color: #222A;
            padding: 5px 10px;
            border-radius: 5px;
            gap: 10px;
        }

            .properties .tree-info .textures .texture-name {
                margin-bottom: 3px;
                font-size: 80%;
            }

            .properties .tree-info .textures .texture-image {
                border-radius: 3px;
                background-color: black;
            }

@media (max-width: 650px) {
    .panel {
        transform: scale(0.7);
    }
}

@media (max-width: 450px) {
    .panel {
        transform: scale(0.55);
    }
}