@page "/view/skin"
@rendermode InteractiveWebAssembly
@implements IAsyncDisposable

@using GBX.NET
@using GBX.NET.Engines.Game

@inject HttpClient Http
@inject GbxService GbxService

<PageTitle>View skin - 3D Gbx Tools</PageTitle>

@if (IsDragAndDrop && SkinZip is null)
{
    <div class="container">
        <div class="navbar-fake-margin"></div>
        <h2 class="view">View a skin</h2>
        <UploadArea OnUpload="OnUploadAsync" Extensions="extensions" FontSize="150" Height="400"></UploadArea>
    </div>
}
else
{
    <div class="@(RendererInfo.IsInteractive ? "black-background" : "black-background-fade")">

        @if (!RendererInfo.IsInteractive)
        {
            <div class="centered">
                <Loader></Loader>
            </div>
        }

        <View3D GameVersion="GameVersionEnum" @ref="view3d" SkinZip="SkinZip" VehicleName="@VehicleName" IsCatalog="true"></View3D>
    </div>
}