h2 {
    margin: 0 0 35px 0;
    text-align: center;
}

h3.supported {
    margin: 35px 0;
    text-align: center;
}

.view-types {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.view-type {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    background-color: #3333;
    border-bottom: 2px solid #FFF3;
    border-radius: 4px;
    cursor: pointer;
    gap: 20px;
}

    .view-type:hover {
        background-color: #3338;
    }

    .view-type h3 {
        margin: 30px;
        width: 10%;
        font-size: 175%;
    }

    .view-type ::deep div.upload-area:last-child {
        margin-left: auto;
        width: 35%;
    }

@media (max-width: 850px) {
    .view-type {
        flex-direction: column;
        gap: 10px;
    }

        .view-type h3 {
            margin: 10px 0 0 0;
            width: 100%;
            font-size: 175%;
            text-align: center;
        }

        .view-type ::deep div.upload-area:last-child {
            margin-left: auto;
            width: 100%;
        }

    ul {
        text-align: left;
    }
}

.view-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 2px);
}