@using Reuniverse.Razor
@inherits LayoutComponentBase
@inject NavigationManager NavManager

@if (!NoTools)
{
    <NavMenu></NavMenu>
}

<ReuMain>
    @Body
</ReuMain>

@if (!NoTools && !Is3DPage())
{
    <ReuFooter>
        <CopyrightContent>
            © 2025 Petr '<a href="https://bigbang1112.cz">BigBang1112</a>' Pivoňka<br />
            <small>
                Not affiliated with or endorsed by Nadeo or Ubisoft.
                All relevant trademarks belong to their respective owners.
            </small>
        </CopyrightContent>
        <LinkContent>
        </LinkContent>
        <ExtraContent>
            <div class="footer-discover-more">
                <span>Discover more:</span>
                <a href="https://gbx.tools">gbx.tools</a>
                <a href="https://explorer.gbx.tools">explorer.gbx.tools</a>
                <span>3d.gbx.tools</span>
                <a href="https://io.gbx.tools">io.gbx.tools</a>
                <a href="https://nc.gbx.tools">nc.gbx.tools</a>
                <a href="https://revalidate.gbx.tools">revalidate.gbx.tools</a>
                <a href="https://envimix.gbx.tools">envimix.gbx.tools</a>
                <a href="https://uotd.gbx.tools">uotd.gbx.tools</a>
                <a href="https://nuget.gbx.tools">nuget.gbx.tools</a>
            </div>
        </ExtraContent>
    </ReuFooter>
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@* @if (!NoTools)
{
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
        kofiWidgetOverlay.draw('bigbang1112', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Donate',
        'floating-chat.donateButton.background-color': '#323842',
        'floating-chat.donateButton.text-color': '#fff'
        });
    </script>
} *@

@code {
    [SupplyParameterFromQuery(Name = "notools")]
    private bool NoTools { get; set; }

    bool Is3DPage()
    {
        var currentPath = NavManager.Uri.Replace(NavManager.BaseUri, ""); // Get relative path
        return currentPath.StartsWith("view/map") ||
               currentPath.StartsWith("view/replay") ||
               currentPath.StartsWith("view/item") ||
               currentPath.StartsWith("view/ghost") ||
               currentPath.StartsWith("view/skin") ||
               currentPath.StartsWith("view/mesh") ||
               currentPath.StartsWith("catalog");
    }
}