@inherits LayoutComponentBase
@inject NavigationManager NavManager

<NavMenu IsAbsolute="Is3DPage()"></NavMenu>
<div class="page">
    @Body
</div>
<footer class="@(Is3DPage() ? "fixed" : "")">
    © 2025 Petr 'BigBang1112' Pivoňka<br />
    <small>
        Not affiliated with or endorsed by Nadeo or Ubisoft.
        All relevant trademarks belong to their respective owners.
    </small>
</footer>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    bool Is3DPage()
    {
        var currentPath = NavManager.Uri.Replace(NavManager.BaseUri, ""); // Get relative path
        return currentPath.StartsWith("view/map") ||
               currentPath.StartsWith("view/replay") ||
               currentPath.StartsWith("view/skin") ||
               currentPath.StartsWith("catalog");
    }
}