@rendermode InteractiveServer
@inject NavigationManager NavManager

<div class="navbar">
    <div class="container">
        <div class="navbar-left">
            <a class="navbar-brand" href="">gbx.tools</a>
        </div>

        <nav class="@(showBurger ? "show" : "")">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <img src="icons/home.svg" alt="Home" width="32" height="32" />
                    <span>Home</span>
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="view">
                    <img src="icons/pageview.svg" alt="View" width="32" height="32" />
                    <span>View</span>
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="catalog">
                    <img src="icons/menu_book.svg" alt="Catalog" width="32" height="32" />
                    <span>Catalog</span>
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="widgets">
                    <img src="icons/widgets.svg" alt="Widgets" width="32" height="32" />
                    <span>Widgets</span>
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="about">
                    <img src="icons/info.svg" alt="About" width="32" height="32" />
                    <span>About</span>
                </NavLink>
            </div>
        </nav>

        <div class="nav-item burger">
            <button class="burger nav-link @(showBurger ? "active" : "")" @onclick="ToggleBurger">
                @if (RendererInfo.IsInteractive)
                {
                    <img src="icons/menu.svg" alt="Menu" width="32" height="32" />
                }
                else
                {
                    <GbxTools3D.Client.Components.Loader Size="20" Thickness="5"></GbxTools3D.Client.Components.Loader>
                }
            </button>
        </div>
    </div>
</div>

@code {
    private bool showBurger;

    private void ToggleBurger()
    {
        showBurger = !showBurger;
    }

    protected override void OnInitialized()
    {
        NavManager.LocationChanged += (sender, args) =>
        {
            if (showBurger)
            {
                showBurger = false;
                StateHasChanged();
            }
        };
    }
}